# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml
.vscode/

# Bases de datos
*.db
*.sqlite
*.sqlite3

# Dependencias (si usas Maven/Gradle, descomenta según corresponda)
# target/
# .gradle/
